/*
Error: File to import not found or unreadable: ../app/components/bootstrap-sass/assets/stylesheets/bootstrap.
       Load paths:
         
        on line 6 of main.scss

1: @import
2: 
3: //GLOBAL PARAMS
4:   "variables",
5:   "mixins",
6:   "../app/components/bootstrap-sass/assets/stylesheets/bootstrap",
7:   "../app/components/Bootflat/bootflat/scss/bootflat",
8:   "head",
9:   "main-menu",
10:   "post-panel",
11:   "blog-item",

Backtrace:
main.scss:6
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/import_node.rb:45:in `import'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Users/nikbailo/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/bin/scss:13:in `<top (required)>'
/Users/nikbailo/.rvm/gems/ruby-2.1.1/bin/scss:23:in `load'
/Users/nikbailo/.rvm/gems/ruby-2.1.1/bin/scss:23:in `<main>'
/Users/nikbailo/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/nikbailo/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../app/components/bootstrap-sass/assets/stylesheets/bootstrap.\A        Load paths:\A          \A         on line 6 of main.scss\A \A 1: @import\A 2: \A 3: //GLOBAL PARAMS\A 4:   \"variables\",\A 5:   \"mixins\",\A 6:   \"../app/components/bootstrap-sass/assets/stylesheets/bootstrap\",\A 7:   \"../app/components/Bootflat/bootflat/scss/bootflat\",\A 8:   \"head\",\A 9:   \"main-menu\",\A 10:   \"post-panel\",\A 11:   \"blog-item\","; }
