.panel-rec {

  @include panel-variant($panel-rec-border, $panel-rec-text, $panel-rec-heading-bg, $panel-rec-border);

  & .panel-title {
    color: inherit;
  }

  & .item-pic {
    width: 50px;
    height: 50px;
    background: url('../img/photo.jpg');
    background-size: cover;
    @include radius($type: border-radius, $value: 2px);
  }

  & .item {
    position: relative;
    height: 65px;
  }

  & .item-body {
    font-size: $font-size-recommended;
    margin-left: 65px;

    & a.link-to {
      color: $darkgray-dark;
      display: block;
      &:hover {
        color: $steel-blue;
      }
    }

    & a.start-to {
//      position: absolute;
      left: 65px;
//      bottom: 9px;
      color: $steel-blue;
    }
  }
}