$navy-blue:                   #003171 !default;
$steel-blue:                  #4B77BE !default;
$lightgray-dark:              #E6E9ED !default;
$white:                       #FFFFFF !default;




// HEADER
$header-bg:                         $navy-blue;
$header-bg-active:                  $steel-blue;
$header-brand:                      $white;


//LEFT MENU
$left-side-bar-color:               $navy-blue;
$left-side-bar-color-hover:         $lightgray-dark;
$left-side-bar-font-color:          $steel-blue;
$left-side-bar-font-color-active:   $white;
$font-size-menu-item:               13px;
$font-size-menu-header:             13px;

//FORM ADD INFO
$panel-top-bg:                      $lightgray-dark;
$panel-top-bg-active:               $navy-blue;
$panel-top-font-color-active:       $white;
$panel-top-btn-bg:                  $navy-blue;
$panel-top-btn-bg-hover:            $steel-blue;

$panel-form-attach:                 $navy-blue;
$panel-form-attach-hover:           $steel-blue;

//RECOMMENDED
$font-size-recommended:             13px;


//PROFILE
$font-size-profile:               13px;


//FEED
$font-size-feed-item:               13px;
$like:                              #5674A1;
$ilike:                             #B1BED2;

//LIST MESSAGES

$font-size-user:                    13px;
$font-size-lasttext:                13px;
$font-size-item-msg-body:           13px;


