<!-- start main panel-->

<div id="panel-post">

</div>


<ul class="feed">
    <li class="blog-item">
        <div class="blog-item-pic pull-left">
            <!-- If server side give correct photo with need size - after this must be tag IMG
                 Now it's background in style -->
        </div>
        <div class="blog-item-body">
            <a href="#" class="title">Александр Кашменский</a>
            <p class="content">
                Ducimus enim excepturi iure minus odio, provident quas quisquam velit vitae voluptate?
            </p>
        </div>
        <div class="blog-item-footer">
            <ul>
                <li>
                    <span class="count-like">12</span>
                    <span class="glyphicon glyphicon-heart like"></span>
                    Нравится
                </li>
                <li>
                    <span class="count-repost">7</span>
                    <span class="glyphicon glyphicon-bullhorn"></span>
                    Поделиться
                </li>
            </ul>


        </div>
    </li>

    <li class="blog-item">
        <div class="blog-item-pic pull-left">
            <!-- If server side give correct photo with need size - after this must be tag IMG
                 Now it's background in style -->
        </div>
        <div class="blog-item-body">
            <a href="#" class="title">Александр Кашменский</a>
            <p class="content">
                @<a href="#">Дмитрий Левицкий</a>, lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ducimus enim excepturi iure minus odio, provident quas quisquam velit vitae voluptate? Ab culpa, eaque eos impedit possimus repellendus. Dolorum, iure, ullam.
            </p>
        </div>
        <div class="blog-item-footer">
            <ul>
                <li>
                    <span class="count-like">3</span>
                    <span class="glyphicon glyphicon-heart like"></span>
                    Нравится
                </li>
                <li>
                    <span class="count-repost">2</span>
                    <span class="glyphicon glyphicon-bullhorn"></span>
                    Поделиться
                </li>
            </ul>
        </div>
    </li>

    <li class="blog-item">
        <div class="blog-item-pic pull-left">
            <!-- If server side give correct photo with need size - after this must be tag IMG
                 Now it's background in style -->
        </div>
        <div class="blog-item-body">
            <a href="#" class="title">Александр Кашменский</a>
            <p class="content">
                @<a href="#">Дмитрий Левицкий</a>, lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ducimus enim excepturi iure minus odio, provident quas quisquam velit vitae voluptate? Ab culpa, eaque eos impedit possimus repellendus. Dolorum, iure, ullam.
            </p>
        </div>
        <div class="blog-item-footer">
            <ul>
                <li>
                    <span class="count-like">44</span>
                    <span class="glyphicon glyphicon-heart like"></span>
                    Нравится
                </li>
                <li>
                    <span class="count-repost"></span>
                    <span class="glyphicon glyphicon-bullhorn"></span>
                    Поделиться
                </li>
            </ul>
        </div>
    </li>

</ul>