<div class="list-groups">
    <ul>
        <li>
            <div class="group-lbl"><img src="img/photo-hitech.jpg" alt=""/></div>
            <div class="group-hdr"><a href="#">Welcome to hell</a></div>
            <div class="who-invite">
                <div class="owner-invite"><h6>Вас приглашает <a href="#">Игорь Никитин</a></h6></div>
                <button type="button" class="btn btn-primary btn-block">Вступить</button>
                <button type="button" class="btn btn-default btn-block">Отклонить</button>
            </div>
        </li>
        <li>
            <div class="group-lbl"><img src="img/photo-hitech.jpg" alt=""/></div>
            <div class="group-hdr"><a href="#">Welcome to hell</a></div>
            <div class="who-invite">
                <div class="owner-invite"><h6>Вас приглашает <a href="#">Игорь Никитин</a></h6></div>
                <button type="button" class="btn btn-primary btn-block">Вступить</button>
                <button type="button" class="btn btn-default btn-block">Отклонить</button>
            </div>
        </li>
        <li>
            <div class="group-lbl"><img src="img/photo-hitech.jpg" alt=""/></div>
            <div class="group-hdr"><a href="#">Welcome to hell</a></div>
            <div class="who-invite">
                <div class="owner-invite"><h6>Вас приглашает <a href="#">Игорь Никитин</a></h6></div>
                <button type="button" class="btn btn-primary btn-block">Вступить</button>
                <button type="button" class="btn btn-default btn-block">Отклонить</button>
            </div>
        </li>
        <li>
            <div class="group-lbl"><img src="img/photo-hitech.jpg" alt=""/></div>
            <div class="group-hdr"><a href="#">Welcome to hell</a></div>
            <div class="who-invite">
                <div class="owner-invite"><h6>Вас приглашает <a href="#">Игорь Никитин</a></h6></div>
                <button type="button" class="btn btn-primary btn-block">Вступить</button>
                <button type="button" class="btn btn-default btn-block">Отклонить</button>
            </div>
        </li>
        <li>
            <div class="group-lbl"><img src="img/photo-hitech.jpg" alt=""/></div>
            <div class="group-hdr"><a href="#">Welcome to hell</a></div>
            <div class="who-invite">
                <div class="owner-invite"><h6>Вас приглашает <a href="#">Игорь Никитин</a></h6></div>
                <button type="button" class="btn btn-primary btn-block">Вступить</button>
                <button type="button" class="btn btn-default btn-block">Отклонить</button>
            </div>
        </li>
    </ul>
</div>