<div class="profile-own">

    <div class="user-info">
        <div class="user-pic"></div>
        <div class="user-description">
            <div class="user-name">
                {{cur_user.login}}
                Чарли Харпер
            </div>
            <div class="user-position">
                Software Engineer
            </div>
            <div class="user-status">
                Online
            </div>

        </div>




    </div>
    <div class="panel panel-default user-details">
        <div class="panel-heading" id="more-info">Показать подробную информацию</div>
        <table class="table table-details" id="table-details">
            <tr>
                <td>Дата рождения:</td>
                <td><a href="#">03.08.1978</a></td>

            </tr>
            <tr>
                <td>Город:</td>
                <td><a href="#">Киев</a></td>
            </tr>
            <tr>
                <td>Образование:</td>
                <td><a href="#">Донецкий Национальный Технический Университет, 2012</a></td>
            </tr>
        </table>


    </div>


    <div id="panel-post">


    </div>


    <ul class="feed">
        <li class="blog-item">
            <div class="blog-item-pic pull-left">
                <!-- If server side give correct photo with need size - after this must be tag IMG
                     Now it's background in style -->
            </div>
            <div class="blog-item-body">
                <a href="#" class="title">Александр Кашменский</a>
                <p class="content">
                    Ducimus enim excepturi iure minus odio, provident quas quisquam velit vitae voluptate?
                </p>
            </div>
            <div class="blog-item-footer">
                <ul>
                    <li>
                        <span class="count-like">12</span>
                        <span class="glyphicon glyphicon-heart like"></span>
                        Нравится
                    </li>
                    <li>
                        <span class="count-repost">7</span>
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        Поделиться
                    </li>
                </ul>


            </div>
        </li>

        <li class="blog-item">
            <div class="blog-item-pic pull-left">
                <!-- If server side give correct photo with need size - after this must be tag IMG
                     Now it's background in style -->
            </div>
            <div class="blog-item-body">
                <a href="#" class="title">Александр Кашменский</a>
                <p class="content">
                    @<a href="#">Дмитрий Левицкий</a>, lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ducimus enim excepturi iure minus odio, provident quas quisquam velit vitae voluptate? Ab culpa, eaque eos impedit possimus repellendus. Dolorum, iure, ullam.
                </p>
            </div>
            <div class="blog-item-footer">
                <ul>
                    <li>
                        <span class="count-like">3</span>
                        <span class="glyphicon glyphicon-heart like"></span>
                        Нравится
                    </li>
                    <li>
                        <span class="count-repost">2</span>
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        Поделиться
                    </li>
                </ul>
            </div>
        </li>

        <li class="blog-item">
            <div class="blog-item-pic pull-left">
                <!-- If server side give correct photo with need size - after this must be tag IMG
                     Now it's background in style -->
            </div>
            <div class="blog-item-body">
                <a href="#" class="title">Александр Кашменский</a>
                <p class="content">
                    @<a href="#">Дмитрий Левицкий</a>, lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ducimus enim excepturi iure minus odio, provident quas quisquam velit vitae voluptate? Ab culpa, eaque eos impedit possimus repellendus. Dolorum, iure, ullam.
                </p>
            </div>
            <div class="blog-item-footer">
                <ul>
                    <li>
                        <span class="count-like">44</span>
                        <span class="glyphicon glyphicon-heart like"></span>
                        Нравится
                    </li>
                    <li>
                        <span class="count-repost"></span>
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        Поделиться
                    </li>
                </ul>
            </div>
        </li>

    </ul>
</div>