<div class="panel panel-normal panel-post">
    <ul id="myTab1" class="nav nav-tabs nav-justified panel-heading">
        <!--<li class="input-lbl">-->
        <input type="text" class="form-control" id="post-input-lbl" placeholder="Что нового, дружище?"/>
        <!--</li>-->
        <li class="active"><a href="#post-news" data-toggle="tab"><span
                class="glyphicon glyphicon-bullhorn"></span> Новость</a></li>
        <li><a href="#post-event" data-toggle="tab"><span
                class="glyphicon glyphicon-calendar"></span> События</a></li>
        <li><a href="#post-quiz" data-toggle="tab">
            <span class="glyphicon glyphicon-stats"></span> Опрос</a></li>
        <li><a href="#post-thx" data-toggle="tab"><span
                class="glyphicon glyphicon-thumbs-up"></span> Спасибо</a></li>


    </ul>
    <div id="myTabContent" class="tab-content panel-post-content">
        <div class="tab-pane fade active in" id="post-news">
            <form action="" role="form" class="post-news-form">
                <textarea class="form-control" rows="3" placeholder="Над чем работаете?"
                          id="post-textarea"></textarea>
                <input class="form-control" placeholder="Кого уведомить..">
                <button type="button" class="btn pull-left">Отправить</button>
                <div class="form-group attach pull-left">
                    <!-- must be inputs tags-->
                    <span class="glyphicon glyphicon-paperclip"></span>
                    <span class="glyphicon glyphicon-camera"></span>
                </div>
            </form>

        </div>
        <div class="tab-pane fade" id="post-event">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.</p>
        </div>
        <div class="tab-pane fade" id="post-quiz">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone...</p>
        </div>
        <div class="tab-pane fade" id="post-thx">
            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche ...</p>
        </div>
    </div>
</div>