$navy-blue:                   #003171 !default;
$steel-blue:                  #4B77BE !default;
$lightgray-dark:              #E6E9ED !default;
$white:                       #FFFFFF !default;




// HEADER
$header-bg:                         $navy-blue;
$header-bg-active:                  $steel-blue;


//LEFT MENU
$left-side-bar-color:               $navy-blue;
$left-side-bar-color-hover:         $lightgray-dark;
$left-side-bar-font-color:          $steel-blue;
$left-side-bar-font-color-active:   $white;

//CENTRAL PART
$panel-top-bg:                      $lightgray-dark;
$panel-top-bg-active:               $navy-blue;
$panel-top-font-color-active:       $white;
$panel-top-btn-bg:                  $navy-blue;
$panel-top-btn-bg-hover:            $steel-blue;

$panel-form-attach:                 $navy-blue;
$panel-form-attach-hover:           $steel-blue;

$like:                              #5674A1;
$ilike:                             #B1BED2;

